[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlsorcery = {extras = ["mssql", "postgres"],version = "*"}
google-api-python-client = "*"
google-auth-oauthlib = "*"
tenacity = "*"
pytest = "*"

[requires]
python_version = "3.7"
